@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    background: transparent;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

body {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

h1 {
    font-size: 20px;
    font-weight: 800;
}

h2 {
    font-size: 18px;
    font-weight: 800;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 16px;
}

li, p,
span {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .5px;
}
